* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  background-image: url('../assets/blue-tiled-background.png');
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
}

header {
  /* background-color: aqua; */
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

main {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

footer {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3.5em;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  margin: 0;
}

button.two-player {
  font-family: 'Orbitron', sans-serif;
  font-size: 1em;
  padding: 5px 20px;
  border: 2.5px solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.blurb-and-rules {
  /* background-color: blue; */
  flex-grow: 1;
  width: 22%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scores-and-lives {
  /* background-color: brown; */
  flex-grow: 1;
  width: 22%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: white;
  width:  80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border: 5px solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.grid-wrapper {
  /* background-color: rgb(28, 215, 31); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56%;
}

.game-grid {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  width: 75vh;
}

.game-grid div {
  border: 1px solid rgb(8, 1, 1);
  display: inline-block;
  aspect-ratio: 1;
}

.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 58vw;
  display: none;
  margin-top: 5vh;
  border: 5px solid;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../assets/sora-and-riku.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.how-to-play {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 0;
  font-weight: bold;
}

p.left {
  margin: 5px auto;
}

div.arrows {
  height: 4em;
  width: 6em;
  background-image: url('../assets/arrows.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div.wasd {
  height: 4em;
  width: 6em;
  background-image: url('../assets/wasd.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right {
  margin: 20px auto;
  font-size: 1.2em;
}

.lives-display, .score-display, .riku-lives-display, .riku-score-display {
  font-size: 1.5em;
}

.game-over-display {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  color: white;
  font-size: 4em;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  margin-top: 0;
}

.player-scored {
  color: white;
  font-size: 2em;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  margin-top: 0;
}

.play-again {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  padding: 10px 40px;
  border: 5px solid;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin-top: 45px;
}

.riku-display {
  display: none;
}

.riku-game-over {
  display: none;
}

.copyright {
  color: white;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  /* margin: 3px */
}

.game-grid div.char {
  background-image: url('../assets/sora.gif');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.game-grid div.riku {
  background-image: url('../assets/riku.gif');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}

.game-grid div.dark-figure {
  background-image: url('../assets/dark-figure.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.larxene {
  background-image: url('../assets/larxene.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.lexaeus {
  background-image: url('../assets/lexaeus.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.marluxia {
  background-image: url('../assets/marluxia.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.pillar {
  background-image: url('../assets/pillar.png');
  background-size: contain;
}

.game-grid div.namine {
  background-image: url('../assets/naminé.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.donald {
  background-image: url('../assets/donald.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.game-grid div.goofy {
  background-image: url('../assets/goofy.png');
  background-repeat: no-repeat;
  background-size: contain;
}